/* CSS declarations go here */

html, body {
    height: 100%;
}

/*div{
	border:solid;
	border-width: 1px;
}*/

label, input,textarea { display:block; }
input.text { margin-bottom:12px; width:95%; padding: .4em; }
fieldset { padding:0; border:0; margin-top:25px; }
.ui-dialog .ui-state-error { padding: .3em; }

fieldset .margin-top{
	margin-top: 10px;
}

.hidden {
    display: none;
}

.tasks_regions{
  overflow:auto;
}

.task_in_creation{
  background: #ffa0a0!important;
}

.task_open{
  background: #ffffa0!important;
}

.task_in_progress{
  background: #a0ffa0!important;
}

.region{
  position:absolute;
  top:0px;
  left:0px;
  height:0px;
  width:100%;
  pointer-events:none;
  border-radius : 12px;
  text-align : right;
  background:rgba(0,0,0,0.1);;
}

.new_region{
  z-index:10;
  border: 1px solid rgba(255,255,74,1.0);
}

.region button{
  pointer-events:auto;
  margin-top:4px;
  padding:2px 10px;
  color:black;
}

.existing_region {
  z-index:5;
  border: 1px solid rgba(110,255,74,1.0);
}

#cm_code_editor{
  padding : 0px;
}

label{
	margin:5px;
}

.ui-accordion .ui-accordion-content {
    padding: 0.7em 0.5em;
}
textarea{
	width:95%;
}

.row{
	width:inherit;
	padding:5px;
}

.ui-widget{
	font-size:12px;
	font-family: arial;
}

#cm_create_task_dialg{
	font-size:14px;
	font-family: arial;
}

.shareJSCM{
	height:100%;
    min-height:90%;

}
.CodeMirror{
	height:100%;
    min-height:90%;

	width:100%;
	/*border:solid;
	border-width:1px;*/
}
.container-fluid{
    height:100%;
}

.border_live{
	border:solid;
	border-width:1px;
	border-color:#666699;
}
.header{
	height: 5%;
	min-height:10px;
}
.fill{
    height:100%;
    min-height:90%;
}

.fill2{
    height:95%;
    min-height:90%;
}

.half_fill{
    height:50%;
    min-height:50%;
    bottom-margin:10%;
}

#editor{
	width:100%;
	height:100% ;
}
